$input-default: #cfe7e5;
$input-focused: #a1d2ce;
$primary-color: #803093;

$error-background: #f6e6e6;
$error-border: #db8294;

$error-message: #ed4367;


$box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.72);

$white: #fff;
$black: #000;